#main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: fit-content;
    background-color: lightgrey;
    padding: 10px 30px;
    min-width: 300px;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
input {
    width: 25px;
}
#game-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#game-header img {
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
#game-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-left: 1px solid slategrey;
    border-bottom: 1px solid slategrey;
}
.row {
    display: flex;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    background-color: lightgrey;
    border-right: 1px solid slategrey;
    border-top: 1px solid slategrey;
}